$screen_sm: 320px;
$screen_md: 768px;
$screen_lg: 1250px;

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";


$dirfont: "../fonts";

$base-size: 15px;
$base-height: 30px;

$header-alt-size: 17px;
$header-height: 24px; /*20px;*/

$header-size-lg: 53px;
$header-height-lg: 57px;

$color-default: #444;
$color-bg-input: lightgreen;/* #f2f2f2; */
$color-bg: #f1f1f1;
$color-border: #ececec;

$color-colored: #63d1bb;

$color-blue-green: #63d1bb;
$color-blue-green-dark: #46c1ae;
$color-blue-green-light: #bde3dd;


$section-shift-lg: 175px;
