.about {
  padding-top: 28px;
  margin-bottom: 32px;

  &__title {
    margin-bottom: 22px;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    @media (min-width: $screen_md) {
      margin-left: -5px;
      font-size: 43px;
      line-height: 44px;
    }
    @media (min-width: $screen_lg) {
      font-size: $header-size-lg;
      line-height: $header-height-lg;
    }
  }

  &__items {
    @media (min-width: $screen_md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item-svg {
    fill: #63d1bb;
    display: block;
    margin-bottom: 17px;
    width: 33px;
    height: 38px;
    position: absolute;
    left: 8px;
    top: 8px;
    &--scandinav {
      width: 47px;
      left: 0px;
      top: 4px;
    }
    &--handmade {
      top: 10px;
      left: 4px;
    }
    &--supporter {
      width: 54px;
      left: -6px;
      top: 5px;
    }
    &--wrap {
      left: 3px;
    }
    @media (min-width: $screen_md) {
      fill: #63d1bb;
      display: block;
      margin-bottom: 17px;
      width: 33px;
      height: 38px;
      position: absolute;
      left: 8px;
      top: 27px;
    }
  }

  &__item {
    position: relative;
    padding-top: 63px;
    padding-bottom: 20px;
    color: #000;
    font-weight: bold;
    font-size: $header-alt-size;
    line-height: 20px;
    @media (min-width: $screen_md) {
      // flex-basis: 50%;
      width: 50%;
      padding-top: 81px;
      padding-bottom: 31px;
      font-size: 20px;
      line-height: 22px;
      &--eco { order: 0; }
      &--scandinav { order: 2; }
      &--4likes { order: 4; }
      &--handmade { order: 1; }
      &--supporter { order: 3; }
      &--wrap { order: 5; }
    }
    @media (min-width: $screen_lg) {
      padding-top: 81px;
    }
  }

  @media (min-width: $screen_md) {
    padding-top: 67px;
    margin-bottom: 53px;
  }

  @media (min-width: $screen_lg) {
    width: 1050px;
    margin: 0 auto;
    padding-top: 71px;
    padding-left: $section-shift-lg;
    padding-right: $section-shift-lg;
    margin-bottom: 57px;
  }
}
