.footer {
  @include wrapper();
  background-color: $color-bg;

  &__logo {
    display: none;
    @media (min-width: $screen_md) {
      display: block;
      flex-basis: calc((100% - 140px)/2);
    }
  }

  &__developer {
    position: relative;
    display: flex;
    height: 80px;
    line-height: 19px;
    overflow-x: hidden;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 80%;
      height: 1px;
      background-color: #e5e5e5;
    }
    a {
      position: relative;
      text-decoration: none;
      color: #000;
      font-size: 19px;
      font-weight: bold;

      min-width: 182px;
      flex-basis: 57%;
      margin: auto;

      &:after {
        content: '';
        position: absolute;
        width: 27px;
        height: 34px;
        right: 0;
        top: -6px;
        @include outline();
      }
    }

    @media (min-width: $screen_md) {
      flex-basis: calc((100% - 140px)/2);
      &:before {
        content: none;
      }
    }
  }

  &--item {
    @media (min-width: $screen_md) {
      &, &.socials {
        margin: auto 40px;
        white-space: initial;
      }
      &.socials {
        width: 230px;
      }
    }
  }

  @media (min-width: $screen_md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    height: 143px;
  }
}
