.footer {
  // @include wrapper();
  background-color: $color-bg;

  &__logo {
    display: none;
    @media (min-width: $screen_md) {
      // display: block;
      // flex-basis: calc((100% - 140px)/2);
      // width: calc((100% - 140px)/2);
      display: flex;
      padding-right: 122px;
      &-svg {
        height: 100px;
      }
    }
  }

  &__developer {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    line-height: 19px;
    // overflow-x: hidden;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 80%;
      height: 1px;
      background-color: #e5e5e5;
    }
    a {
      position: relative;
      text-decoration: none;
      color: #000;
      font-size: 19px;
      font-weight: bold;
      height: 22px;
      min-width: 182px;
      // flex-basis: 57%;
      width: 57%;
      margin: auto;
      svg {
        position: absolute;
        width: 27px;
        height: 34px;
        top: -6px;
        right: 0;
        fill: $color-blue-green;
      }
      &:hover {
        svg {
          fill: $color-blue-green-dark;
        }
      }
      &:active {
        svg {
          fill: $color-blue-green-light;
        }
      }
      @media (min-width: $screen_md) {
        height: initial;
        width: initial;
        margin: initial;
      }
      @media (min-width: $screen_lg) {
        height: 20px;
      }
    }


    @media (min-width: $screen_md) {
      justify-content: flex-end;
      &:before {
        content: none;
      }
    }

    @media (min-width: $screen_lg) {
      // width: 559px;
      padding-left: 157px;
      padding-top: 5px;
    }
  }

  &--item {
    @media (min-width: $screen_md) {
      &, &.socials {
        margin: auto 0px;
        white-space: initial;
        width: calc(100% / 3);
      }
      &.socials {
        // width: 230px;
        margin: auto 90px;
        margin: auto 0px;
        padding: 0 37px;
      }
    }
    @media (min-width: $screen_lg) {
      &.socials {
        // width: 200px;
        // margin-right: 10px;
        padding: 0 100px;
      }
    }
  }

  &__wrapper {
    @media (min-width: $screen_md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      height: 143px;
      @include wrapper($size: 50px);
    }

    @media (min-width: $screen_lg) {
      padding: 0 100px;
      width: 1250px;
      margin: 0 auto;
    }
  }
}
