.form {
  margin-bottom: 55px;

  &__title {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 24px;
    @media (min-width: $screen_md) {
      margin-bottom: 72px;
      font-size: 17px;
      line-height: 30px;
    }
    @media (min-width: $screen_lg) {
      width: 700px;
      margin: 140px auto 72px;
    }
  }


  &__fields-group {
    @include placeholder();

    @media (min-width: $screen_md) {
      position: relative;
      margin-left: 248px;
    }

    @media (min-width: $screen_lg) {
      padding: 0;
      margin: 0;
    }

    label {
      position: relative;
      display: block;
      min-height: 60px;
      @include bold-text($size: 17px, $height: 18px);
      color: #000;
    }

    input[type="text"] {
      display: block;
      margin-bottom: 24px;
      padding-top: 14px;
      padding-bottom: 14px;
      width: 100%;
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      border: none;
      outline: none;
      border-bottom: 2px solid #000;
    }


    .form__field-label {
      position: relative;
      font-weight: bold;
      font-size: 17px;
      line-height: 16px;
      color: $color-colored;
      text-transform: uppercase;
      @media (min-width: $screen_md) {
        position: absolute;
        left: 0px;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: calc(100% - 50px);
        height: 1px;
        background-color: #63d1bb;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }

      &--type {
        margin-bottom: 35px;
        @media (min-width: $screen_md) {
          left: -247px;
          top: 2px;
        }
        @media (min-width: $screen_lg) {
          left: 64px;
          top: 3px;
        }
      }

      &--color {
        margin-bottom: 37px;
        @media (min-width: $screen_md) {
          left: 59px;
          top: 68px;
        }
        &:after {
          width: calc(100% - 60px);
        }
      }

      &--fio {
        margin-bottom: 28px;
        @media (min-width: $screen_md) {
          left: -167px;
          top: -3px;
        }
        @media (min-width: $screen_lg) {
          left: -22px;
          top: -3px;
        }
      }

      &--email:after {
        width: calc(100% - 70px);
      }

      &--phone,
      &--email,
      &--additional {
        display: block;
      }

      &--phone {
        @media (min-width: $screen_md) {
          margin: 0;
          left: 51px;
          top: 67px;
        }
        @media (min-width: $screen_lg) {
          left: 62px;
          top: 44px;
        }
      }

      &--email {
        @media (min-width: $screen_md) {
          margin: 0;
          left: 51px;
          top: 42px;
        }
        @media (min-width: $screen_lg) {
          left: 62px;
          top: 44px;
        }
      }

      &--additional {
        @media (min-width: $screen_md) {
          margin-top: 57px;
          left: -164px;
        }
        @media (min-width: $screen_lg) {
          left: -20px;
          top: 2px;
        }
      }

    }

    .form__fields-inner {
      @media (min-width: $screen_md) {
        &--color {
          margin-bottom: 70px;
          padding: 66px 0 10px 298px;
        }
      }
      @media (min-width: $screen_lg) {
        position: relative;
        padding: 0px 9px 10px 256px;
        @include width-fix-lg();
        &--color {
          padding-top: 66px;
        }
        &--fio {
          padding-left: 93px;
          padding-bottom: 7px;
        }
        &--phone,
        &--email {
          padding-bottom: 0px;
          padding-left: 225px;
          padding-right: 125px;
        }
        &--additional {
          padding-top: 3px;
          padding-left: 92px;
          padding-right: 258px;
        }
      }
    }


    &--type {
      label {
        margin-left: 63px;
        @media (min-width: $screen_md) {
          margin-left: 0;
          margin-bottom: 16px;
          font-size: 19px;
        }
      }

      @media (min-width: $screen_md) {
          margin-bottom: 26px;
      }

      @media (min-width: $screen_lg) {
        margin-bottom: 0;
      }
    }

    &--color {
      label {
        min-height: 61px;
        margin-left: 63px;
        @media (min-width: $screen_md) {
          margin-left: 0;
          font-size: 19px;
        }
      }

      @media (min-width: $screen_md) {
        @include wrapper(margin, -50px);
      }

      @media (min-width: $screen_lg) {
        margin: 0;
        margin-bottom: 70px;
      }
    }

    &--fio {
      label {
        @media (min-width: $screen_md) {
          margin-bottom: 16px;
          top: -4px;
          font-size: 19px;
          input[type="text"] {
            position: absolute;
            right: 0;
            top: -18px;
            width: calc(100% - 115px);
            color: #000;
            padding: 14px 24px 14px;
            font-size: 19px;
            line-height: 24px;
          }
          &:first-of-type {
            input[type="text"] {
              width: calc(100% - 69px);
            }
          }
        }
      }
      @media (min-width: $screen_md) {
        margin-left: 168px;
        margin-bottom: 23px;
      }
      @media (min-width: $screen_lg) {
        margin-bottom: 0px;
      }
    }

    &--phone,
    &--email,
    &--additional {
      padding-top: 10px;
      input[type="text"] {
        padding-top: 0;
        padding-bottom: 11px;
      }
      label {
        min-height: 40px;
        position: static;
        text-transform: uppercase;
        @media (min-width: $screen_lg) {
          min-height: 39px;
        }
      }
      @media (min-width: $screen_md) {
        margin-left: 165px;
      }
    }

    &--phone,
    &--email {
      input[type="text"] {
        @media (min-width: $screen_md) {
          background-color: transparent;
          @include placeholder(#c7c7c7);
          color: #000;
          margin-bottom: 0;
          margin-left: -50px;
          padding-bottom: 16px;
          padding-left: 19px;
          font-size: 19px;
        }
      }
      @media (min-width: $screen_md) {
        padding-top: 23px;
        padding-left: 266px;
        @include wrapper(margin, -50px);
      }
      @media (min-width: $screen_lg) {
        // @include wrapper(margin, -100px);
        @include wrapper(margin, 0px);
        padding-left: 0px;
      }
    }

    &--email {
      @media (min-width: $screen_md) {
        padding-top: 0px;
        padding-bottom: 48px;
      }
      @media (min-width: $screen_lg) {
        margin-bottom: 0px;
      }
    }

    &--additional {
      @media (min-width: $screen_md) {
        margin-bottom: 49px;
      }
      @media (min-width: $screen_lg) {
        margin-bottom: 36px;
      }
    }


    &--colored {
      @media (min-width: $screen_md) {
        background-color: $color-bg;
      }
    }

  }




  textarea {
    padding: 15px;
    width: 100%;
    // max-width: 260px;
    height: 142px;
    font-size: 17px;
    line-height: 18px;
    border: 2px solid #444;
    outline: none;
    @media (min-width: $screen_md) {
      padding: 6px 15px;
      font-size: 19px;
      line-height: 28px;
    }
  }


  &__remark {
    margin-top: 12px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
    @media (min-width: $screen_md) {
      font-size: 17px;
      line-height: 24px
    }
  }


  &__submit {
    @include btn-wide($height: 16px);
    background-color: #fff;
    @media (min-width: $screen_md) {
      height: 50px;
      order: -1;
      width: 228px;
    }
    &-group {
      @media (min-width: $screen_md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      @media (min-width: $screen_lg) {
        width: 700px;
        margin: 0 auto;
      }
    }
  }


  input[type="radio"] + label:before,
  input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: -63px;;
    top: -2px;
    transform: translateY(-25%);
    width: 40px;
    height: 40px;
    border: 2px solid #444;
    @media (min-width: $screen_md) {
      width: 52px;
      height: 52px;
      left: -80px;
      top: -3px;
    }
  }


  input[type="radio"] + label:before {
    border-radius: 50%;
  }


  input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    left: -51px;
    top: 0.5px;
    width: 10px;
    height: 10px;
    border: 8px solid $color-colored;
    border-radius: 50%;
    @media (min-width: $screen_md) {
      left: -64.5px;
      top: -0.5px;
      width: 20.5px;
      height: 20.5px;
      border: 10.5px solid $color-colored;
    }
  }


  input[type="checkbox"]:checked + label:after {
    position: absolute;
    content: '';
    width: 22px;
    height: 10px;
    left: -54px;;
    top: 0px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 1;
    transform: rotate(-45deg);
    @media (min-width: $screen_md) {
      width: 30px;
      height: 16px;
      left: -69px;
      top: -2px;
    }
  }


  &__color-list {
    li {
      @media (min-width: $screen_md) {
        width: 40%;
        height: 76px;
      }
      @media (min-width: $screen_lg) {
        width: 33%;
      }
    }

    @media (min-width: $screen_md) {
      display: flex;
      flex-wrap: wrap;
      width: 435px;
      justify-content: space-between;
    }

    @media (min-width: $screen_lg) {
      width: initial;
    }
  }


  @media (min-width: $screen_md) {
    position: relative;
    margin-bottom: 34px;
  }
}
