.page-header {
  position: relative;
  @include border($type:bottom);

  &__info {
    display: none;
    @media (min-width: $screen_md) {
      display: inline-block;
      position: absolute;
      bottom: -41px;
      right: 50px;
      max-width: 50%;
      text-align: right;
      z-index: 1;
    }
    @media (min-width: $screen_lg) {
      right: 0px;
    }
  }

  &__title {
    @include visually-hidden();
  }

  &__wrapper {
    display: block;
    @media (min-width: $screen_md) {
      height: 88px;
    }
    @media (min-width: $screen_lg) {
      display: flex;
      height: 88px;
    }
  }

  &__inner {
    @media (min-width: $screen_md) {
      display: flex;
      height: 88px;
    }
    @media (min-width: $screen_lg) {
      order: 1;
      flex-grow: 9;
    }
  }

  &__logo {
    display: flex;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    height: 80px;
    picture {
      margin: auto;
      height: initial;
      @media (min-width: $screen_md) {
        margin-left: 50px;
      }
      @media (min-width: $screen_lg) {
        margin: auto;
      }
    }
    @media (min-width: $screen_md) {
      height: initial;
    }
  }

  &__search {
    border-left: 1px solid $color-border;
  }

  &__svg-wrapper {
    display: none;
    width: 84px;
    min-width: 84px;
    a {
      width: 18px;
      height: 18px;
      display: block;
      margin: auto;
    }
    @media (min-width: $screen_md) {
      display: flex;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: #d3d2d2;
    &:hover {
      fill: $color-blue-green;
    }
    &:active {
      fill: $color-blue-green-light;
    }
  }

  &__basket {
    position: relative;
    display: none;
    border-left: 1px solid $color-border;
    /*a {
      width: 25px;
      height: 25px;
      display: block;
      margin: auto;
      @media (min-width: $screen_md) {
        display: flex;
        width: 25px;
        height: 100%;
      }
    }*/
    &-text {
      padding-left: 80px;
      padding-right: 50px;
      height: 25px;
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      text-align: right;
      @media (min-width: $screen_md) {
        margin: auto;
        padding-right: 45px;
        padding-left: 0;
      }
      @media (min-width: $screen_lg) {
        margin: initial;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        width: 267px;
      }
    }
    @media (min-width: $screen_md) {
      // display: flex;
      justify-content: space-between;
      align-items: center;
      // padding-left: 32px;
      width: 41%;
    }
    @media (min-width: $screen_lg) {
      justify-content: space-between;
      align-items: center;
      width: 267px;
    }
}

  &__column {
    display: table-column;
    &--search {
      width: 83px;
    }
    &--basket {
      width: 315px;
    }
  }

  &--item {
    @media (min-width: $screen_md) {
      display: flex;
    }
  }

  @media (min-width: $screen_lg) {
    // padding: 0 50px;
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }
}
