.product-list {
  &__title {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
    padding: 74px 0 79px;
    background-color: #f1f1f1;
    @include border-top();
    @include bold-text($size: 27px, $color: #000);
    text-align: center;
  }
}