.review {
  position: relative;
  padding-bottom: 48px;
  @include curved-border();

  &__title {
    margin-bottom: 21px;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    @media (min-width: $screen_md) {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 48px;
    }
    @media (min-width: $screen_lg) {
      margin-bottom: 54px;
      font-size: $header-size-lg;
      line-height: 44px;
    }
  }

  &__item {
    margin-bottom: 30px;
    p {
      margin-bottom: 23px;
      line-height: 30px;
      @media (min-width: $screen_md) {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 55px;
      }
      @media (min-width: $screen_lg) {
        margin-bottom: 35px;
      }
    }
    footer {
      @include bold-text($height: 31px);
      color: #000;
      cite {
        color: #444;
        display: block;
        font-weight: normal;
        font-style: normal;
      }
    }
    @media (min-width: $screen_md) {
      margin-bottom: 0;
    }
  }

  &__controls {
    @media (min-width: $screen_md) {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 175px;
      right: 50px;
      height: 325px;
      top: 78px;
      justify-content: space-between;
    }
    @media (min-width: $screen_lg) {
      right: 0;
    }
  }

  &__nav {
    font-size: 0;
    margin-bottom: 38px;
    @media (min-width: $screen_md) {
      order: 1;
      margin-bottom: -3px;
    }
    @media (min-width: $screen_lg) {
      margin-bottom: 47px;
    }
  }

  &__btn {
    position: relative;
    width: 50%;
    height: 50px;
    @include btn();
    border-width: 1px;
    &--prev,
    &--next {
      border-color: $color-border;
      background: #fff url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
      font-size: 0;
    }
    &--next {
      background-image: url("../img/icon-right-arrow.svg");
    }
    &--write {
      @include btn-wide($size: 17px);
      background-color: #fff;
      height: initial;
    }
    @media (min-width: $screen_lg) {
      &--prev,
      &--next {
        border: 0;
      }
    }
  }

  @media (min-width: $screen_md) {
    @include wrapper($size: 50px);
    @include wrapper(margin, -50px);
    @include curved-border(calc(100% + 74px), 0px);
    margin-bottom: 74px;
    padding-top: 75px;
    padding-bottom: 43px;
    background: transparent url("../img/review@1x.jpg") 0 50% no-repeat;
    background-size: contain;
    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: $screen_lg) {
    @include wrapper($size: 100px);
    // @include wrapper(margin, -100px);
    width: 1050px;
    margin: 0 auto;
    padding-left: $section-shift-lg;
    height: 457px;
  }
}
