.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  line-height: 80px;
  width: 140px;
  margin: 0 auto;
  white-space: nowrap;
  @include list-style();
  font-size: 0;
  &__item a {
    display: block;
    width: 30px;
    height: 30px;
    // @include outline();
  }
  &__item {
    &--instagram a {
      background-image: url(../img/symbols-g.svg#icon-in);
    }
    &--facebook a {
      background-image: url(../img/symbols-g.svg#icon-fb);
    }
    &--twitter a {
      background-image: url(../img/symbols-g.svg#icon-tw);
    }
  }
}
